Package: revo-theme
Version: 2017.1-rev2
Architecture: all
Maintainer: Root HackTrack <root@hacktrack-linux.org>
Installed-Size: 184
Section: gnome
Priority: optional
Description: Revo themes
 Modern Dark Theme for HackTrack.
