Package: revo-theme
Version: 2021.1-rev1
Architecture: all
Maintainer: Dindin Hernawan <dindin_hernawan@yahoo.com>
Installed-Size: 184
Section: gnome
Priority: optional
Description: Revo themes
 Modern Dark Theme for HackTrack.
